<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <script src="../lib/require.js" data-main="../js/index.js"></script>
    <script>
        requirejs.config({
            paths:{
                "jquery":"../lib/jquery-3.4.1"
            }
        })
    </script>
</head>
<body>
    @include('head.html')
    <div id="banner" class="container">
        <ul class="banner_imgs"></ul>
        <ol class="banner_dots"></ol>
        <div class="banner_menu">
            <ul>
                <li name="phone">
                    <h2>手机</h2>
                    <p>该类别分类</p>
                </li>
                <li  name="book">
                    <h2>笔记本电脑</h2>
                    <p>该类别分类</p>
                </li>
                <li name="pad">
                    <h2>平板电脑</h2>
                    <p>该类别分类</p>
                </li>
            </ul>
        </div>
        <div class="banner_menu_list dis">
            
        </div>
        <div class="bunner_btn_left"></div>
        <div class="bunner_btn_right"></div>
    </div>
    <div class="mask"></div>
    <div id="phone" class="container clearfix">
    </div>
    <div id="book" class="container clearfix">
    </div>
    <div id="pad" class="container clearfix">
    </div>
    @include('foot.html')
</body>
</html>