<div id="foot_wrap">
        <div class="foot">
            <div class="foot_top">
                <ul>
                    <li>
                        <img src="../../static/icon01_02.gif" alt="">
                        <p>百强企业 品质保障</p>
                    </li>
                    <li>
                        <img src="../../static/icon01_03.gif" alt="">
                        <p>7天退货 15天换货</p>
                    </li>
                    <li>
                        <img src="../../static/icon01_04.gif" alt="">
                        <p>48元起免运费</p>
                    </li>
                    <li>
                        <img src="../../static/icon01_05.png" alt="">
                        <p>1000家维修网点 全国联保</p>
                    </li>
                </ul>
            </div>
            <div class="foot_center">
                <div class="web_nav l">
                    <ul>
                        <h3>购物相关</h3>
                        <li><a href="javascript:;">购物指南</a></li>
                        <li><a href="javascript:;">配送方式</a></li>
                        <li><a href="javascript:;">支付方式</a></li>
                        <li><a href="javascript:;">常见问题</a></li>
                    </ul>
                    <ul>
                        <h3>保修与退换货</h3>
                        <li><a href="javascript:;">保修政策</a></li>
                        <li><a href="javascript:;">退换货政策</a></li>
                        <li><a href="javascript:;">退换货流程</a></li>
                        <li><a href="javascript:;">保修状态查询</a></li>
                        <li><a href="javascript:;">配件防伪查询</a></li>
                     </ul>
                    <ul>
                        <h3>维修与技术支持</h3>
                        <li><a href="javascript:;">售后网点</a></li>
                        <li><a href="javascript:;">预约维修</a></li>
                        <li><a href="javascript:;">手机寄修</a></li>
                        <li><a href="javascript:;">备件价格查询</a></li>
                        <li><a href="javascript:;">上门服务</a></li>
                    </ul>
                    <ul>
                        <h3>特色服务</h3>
                        <li><a href="javascript:;">防伪查询</a></li>
                        <li><a href="javascript:;">补购保障</a></li>
                        <li><a href="javascript:;">以旧换新</a></li>
                        <li><a href="javascript:;">礼品包装</a></li>
                    </ul>
                    <ul>
                        <h3>关于我们</h3>
                        <li><a href="javascript:;">公司介绍</a></li>
                        <li><a href="javascript:;">华为商城简介</a></li>
                        <li><a href="javascript:;">华为线下门店</a></li>
                        <li><a href="javascript:;">荣耀线下门店</a></li>
                        <li><a href="javascript:;">诚征英才</a></li>
                        <li><a href="javascript:;">意见反馈</a></li>
                    </ul>
                    <ul>
                        <h3>友情链接</h3>
                        <li><a href="javascript:;">华为集团</a></li>
                        <li><a href="javascript:;">华为CBG官网</a></li>
                        <li><a href="javascript:;">荣耀官网</a></li>
                        <li><a href="javascript:;">花粉俱乐部</a></li>
                        <li><a href="javascript:;">华为云</a></li>
                    </ul>
                </div>
                <div class="contact r">
                    <h2>400-088-6888</h2>
                    <p>7X24小时客服热线（仅收市话费）</p>
                    <a href="javascript:;">在线客服</a>
                    <ul>
                        <h3>关注Vmall：</h3>
                        <li><img src="../../static/icon01_02.gif" alt=""></li>
                        <li><img src="../../static/icon01_03.gif" alt=""></li>
                        <li><img src="../../static/icon01_04.gif" alt=""></li>
                        <li><img src="../../static/icon01_05.png" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="foot_bottom">
                <div class="foot_logo l"><img src="../../static/foot_logo.png" alt=""></div>
                <div class="foot_bottom_nav l">
                    <ul>
                        <li><a href="javascript:;">华为集团</a></li>
                        <li><a href="javascript:;">华为CBG官网</a></li>
                        <li><a href="javascript:;">荣耀官网</a></li>
                        <li><a href="javascript:;">花粉俱乐部</a></li>
                        <li><a href="javascript:;">华为应用市场</a></li>
                        <li><a href="javascript:;">EMUI</a></li>
                        <li><a href="javascript:;">华为终端云空间</a></li>
                        <li><a href="javascript:;">开发者联盟</a></li>
                        <li><a href="javascript:;">华为商城手机版</a></li>
                        <li><a href="javascript:;">网站地图</a></li>
                    </ul>
                    <div class="copyright">
                        <p>
                            隐私声明 服务协议 COOKIES Copyright ? 2012-2019 华为终端有限公司 版权所有 粤ICP备19015064号|粤公网安备 44190002003939号<br>
                            增值电信业务经营许可证：粤B2-20190762|备案主体编号：44201919072182电子营业执照
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>