    <script src="../../lib/jquery-3.4.1.js"></script>
<div id="top" class="container-fluid">
    <div class="container">
        <ul class="top-left l">
            <li><a href="../views/index.html">首页</a></li>
            <li><a href="../views/index.html">华为官网</a></li>
            <li><a href="../views/index.html">荣耀官网</a></li>
            <li><a href="../views/index.html">花粉俱乐部</a></li>
            <li><a href="../views/index.html">V码(优购码)</a></li>
            <li><a href="../views/index.html">企业购</a></li>
            <li><a href="../views/index.html">Select Region</a></li>
            <li class="top-more"><a href="#">更多精彩</a>
                <div class="top-more-content">
                    <ul>
                        <li><a href="#">EMUI</a></li>
                        <li><a href="#">应用市场</a></li>
                        <li><a href="#">华为终端云空间</a></li>
                        <li><a href="#">开发者联盟</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="top-right r">
            <li><a href="../views/login.html" class="loginText">请登录</a> <a href="../views/regbyphone.html" class="regText">注册</a>
            </li>
            <li><a href="../views/cart.html">我的订单</a></li>
            <li><a href="#">客户服务</a></li>
            <li><a href="#">网站导航</a></li>
            <li><a href="#">手机版</a>
                <div class="top-phone-type">

                </div>
            </li>
            <li><a href="../views/cart.html"><span class="iconfont icon-icon-test"></span>购物车(0)  </a>
                <div class="top-cart-info">
                    <p class="iconfont icon-icon-test">
                    </p>
                    <p class="top-cart-text">购物车为空</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="head" class="container-fluid clearfix">
    <div class="container">
        <div class="head-logo l">
            <a href="#">
                <img src="../../static/vmall_logo.png" alt="" class="l">
            </a>
        </div>
        <div class="head-content l">
            <ul class="l">
                <li><a href="#">华为专区</a></li>
                <li><a href="#">荣耀专区</a></li>
                <li><a href="#">Mate30系列</a></li>
                <li><a href="#">荣耀20</a></li>
            </ul>
            <div class="r" >
                <input type="text" class="head-content-search">
                <div class="head-content-searchbtn">
                    <span class="iconfont icon-search"></span>
                </div>
                <p class="head-content-text r">
                    <a href="#">Mate30</a>
                    <a href="#">荣耀20</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    $loginText = $('.loginText');
    $hash =  window.location.search.match(/username=([^&]+)/)[1] ? window.location.search.match(/username=([^&]+)/)[1] : ""
    if($hash){
        $loginText.html($hash)
    }else{
        $loginText.html('请登录')
    }
</script>